#Specify DebugLevel: 0=no logging, 6=default logging, 31=extended logging
DebugLevel=0
 
#Specify Extra Daemon Propath, use ',' as delimiter, use '/'
#PROPATH=
 
#Specify Extra Daemon Progress Parameters
#EXTRAPAR=
 
#Indicate if the Balance- and HistoryDaemon need to (re-)start the other daemons - the default interval is 1200 seconds and values less than 60 are not taken into account
#AutoRecoverDaemons=TRUE
#AutoRecoverDaemonsIntervalSec=1200
